<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<aside th:fragment="aside"
       class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-start ms-2  bg-white my-2"
       id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-dark opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
           aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand px-4 py-3 m-0" href="/admin">
            <img src="/home/images/logo.png" class="navbar-brand-img" width="26" height="26" alt="main_logo">
            <span class="ms-1 text-sm text-dark">FSDM IT Club</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link  " href="/admin"
                   th:classappend="${page_href != '/admin' ? 'text-dark' : 'bg-gradient-dark text-white active'}">
                    <i class="material-symbols-rounded opacity-5">dashboard</i>
                    <span class="nav-link-text ms-1">Dashboard</span>
                </a>
            </li>





            <li class="nav-item">
                <a data-bs-toggle="collapse" href="#pagesExamples" class="nav-link text-dark collapsed"
                   aria-controls="pagesExamples" role="button"

                     th:classappend="${page_href.contains('/admin/members') or page_href.contains('/admin/add-member')} ? 'active' : '' "
                   th:aria-expanded="${page_href.contains('/admin/members') or page_href.contains('/admin/add-member')}">
                    <i class="material-symbols-rounded opacity-5">group</i>
                    <span class="nav-link-text ms-1 ps-1">Members</span>
                </a>
                <div class="collapse" id="pagesExamples"
                     th:classappend="${page_href.contains('/admin/members') or page_href.contains('/admin/add-member')} ? 'show'">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${page_href != '/admin/members' ? 'text-dark' : 'bg-gradient-dark text-white active'}"
                               href="/admin/members">
                                <i class="material-symbols-rounded opacity-5">group</i>
                                <span class="sidenav-normal ms-1 ps-1"> Members List </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${page_href != '/admin/add-member' ? 'text-dark' : 'bg-gradient-dark text-white active'}"
                               href="/admin/add-member">
                                <i class="material-symbols-rounded opacity-5">person_add</i>
                                <span class="sidenav-normal ms-1 ps-1"> Add Member </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>







            <li class="nav-item">
                <a data-bs-toggle="collapse" href="#eventscp" class="nav-link text-dark collapsed"
                   aria-controls="eventscp" role="button"

                   th:classappend="${page_href.contains('/admin/events') or page_href.contains('/admin/add-event')} ? 'active' : '' "
                   th:aria-expanded="${page_href.contains('/admin/events') or page_href.contains('/admin/add-event')}">
                    <i class="material-symbols-rounded opacity-5">event</i>
                    <span class="nav-link-text ms-1 ps-1">Events</span>
                </a>
                <div class="collapse" id="eventscp"
                     th:classappend="${page_href.contains('/admin/events') or page_href.contains('/admin/add-event')} ? 'show'">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${page_href != '/admin/events' ? 'text-dark' : 'bg-gradient-dark text-white active'}"
                               href="/admin/events">
                                <i class="material-symbols-rounded opacity-5">event</i>
                                <span class="sidenav-normal ms-1 ps-1"> Events List </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${page_href != '/admin/add-event' ? 'text-dark' : 'bg-gradient-dark text-white active'}"
                               href="/admin/add-event">
                                <i class="material-symbols-rounded opacity-5">add</i>
                                <span class="sidenav-normal ms-1 ps-1"> Add Event </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/newsletter"
                   th:classappend="${page_href != '/admin/newsletter' ? 'text-dark' : 'bg-gradient-dark text-white active'}">
                    <i class="material-symbols-rounded opacity-5">email</i>
                    <span class="nav-link-text ms-1">Emails</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/admin/join-requests"
                   th:classappend="${page_href != '/admin/join-requests' ? 'text-dark' : 'bg-gradient-dark text-white active'}">
                    <i class="material-symbols-rounded opacity-5">assignment</i>
                    <span class="nav-link-text ms-1">Join Requests</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/admin/notifications"
                   th:classappend="${page_href != '/admin/notifications' ? 'text-dark' : 'bg-gradient-dark text-white active'}">
                    <i class="material-symbols-rounded opacity-5">notifications</i>
                    <span class="nav-link-text ms-1">Notifications</span>
                </a>
            </li>


        </ul>
    </div>

</aside>


</body>
</html>