<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <link th:href="@{/home/images/logo.png}" rel="icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/admin/img/icons/icon-48x48.png">


    <title th:text="${title}"></title>

    <link href="/admin/css2.css?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

    <link class="js-stylesheet" href="/admin/css/light.css" rel="stylesheet">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  </head>

</html>