

<!DOCTYPE html>
<table style="width: 515px; font-size: 10pt; font-family: Arial, sans-serif; background: transparent !important;"
       cellpadding="0" cellspacing="0" width="515">
    <tbody valign="middle">
    <tr valign="inherit">
        <td style="font-size: 14pt;  line-height: 16pt; color:#000e58; font-family: Arial, sans-serif; width: 514px; padding-bottom: 10px; vertical-align:top;"
            valign="top" colspan="2" width="514"><strong><span
                style="font-size: 14pt; font-family: Arial, sans-serif; color:#007ea7;">&nbsp;</span></strong>
            <br>
        </td>
    </tr>
    <tr valign="inherit">
        <td style="font-size: 10pt; line-height: 12pt; border-top: 1px solid; border-top-color: #007ea7; color:#2c2c2c; font-family: Arial, sans-serif;  padding-top: 10px; vertical-align:top;"
            valign="top" colspan="2">
            <span style="font-size: 10pt; font-family: Arial, sans-serif; color:#2c2c2c;"><strong>FSDM IT Club</strong><br></span>
            <span style="font-size: 10pt; font-family: Arial, sans-serif; color:#2c2c2c;">Campus Universitaire FSDM<br></span>
            <span style="font-size: 10pt; font-family: Arial, sans-serif; color:#2c2c2c;">Fes 30050 Maroc<br></span><span
                style="font-size: 10pt; font-family: Arial, sans-serif; color:#2c2c2c;">Email : contact@fsdmitclub.com<br></span>
        </td>
    </tr>
    <tr valign="inherit">
        <td style="font-size: 10pt; padding-bottom: 10px; padding-top: 10px; vertical-align:top;" valign="top"><strong>&nbsp;<a
                href="http://fsdmitclub.com" target="_blank" rel="noopener" style="text-decoration:none;"><span
                style="color:rgb(49, 75, 157); font-family: Arial, sans-serif;"><span
                style="font-size: 10pt; font-family: Arial, sans-serif; color:#F2CC8F;">fsdmitclub.com</span></span></a></strong>
        </td>
        <td style="font-size: 10pt; font-family: Arial, sans-serif; padding-bottom: 10px; padding-top: 10px; vertical-align:top; text-align:right;"
            valign="top" align="right"><span>&nbsp;<a
                href="https://www.linkedin.com/company/fsdm-it-ai-club/" target="_blank"
                rel="noopener"><img alt="LinkedIn icon" border="0" width="15" height="16"
                                    style="border: 0px; height: 15px; width: 15px;"
                                    src="https://www.mail-signatures.com/signature-generator/img/templates/animated-christmas/ln.png"></a></span><span>&nbsp;<a
                href="https://www.instagram.com/fsdm_it_club/" target="_blank" rel="noopener"><img alt="Instagram icon"
                                                                                                   border="0" width="15"
                                                                                                   height="16"
                                                                                                   style="border: 0px; height: 15px; width: 15px;"
                                                                                                   src="https://www.mail-signatures.com/signature-generator/img/templates/animated-christmas/it.png"></a></span>
        </td>
    </tr>
    <tr valign="inherit">
        <td style="font-size: 10pt; font-family: Arial, sans-serif; padding-bottom: 10px; padding-top: 10px; vertical-align:top;"
            valign="top" colspan="2"><img border="0" alt="Banner" width="514"
                                          style="width: 514px; height: auto; border: 0px;"
                                          src="https://i.ibb.co/vqsLGq5/1731615845143.jpg">
        </td>
    </tr>
    <tr valign="inherit">
        <td style="font-size: 9pt; color:#878787; font-family: Arial, sans-serif; padding-top: 10px; vertical-align:top;"
            valign="top" colspan="2">
            <div style="color:#878787; font-size: 9pt; font-family: Arial, sans-serif; text-align:justify; width:514px;"
                 align="justify">The content of this email is confidential and intended for the recipient specified in
                message only. It is strictly forbidden to share any part of this message with any third party, without a
                written consent of the sender. If you received this message by mistake, please reply to this message and
                follow with its deletion, so that we can ensure such a mistake does not occur in the future.
            </div>
        </td>
    </tr>
    </tbody>
</table>
